<p style="color: green"><%= notice %></p>

<div class="splash-screen">
      <h1>Budget App</h1>

      <div id="splash">
            <%= link_to "LOG IN", user_session_path, class: 'log-btn btn' %>
            <%= link_to "SIGN UP", new_user_registration_path, class: 'sign-btn btn' %>
      </div>
</div>
