<div id="<%= dom_id category %>">
 
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>Total Amount: $400 </p>

  <%= image_tag(image_path(category.icon), class: "icon-image") %>

</div>
